tr.header_row {
    line-height: 0;
    height: 14pt;
    font-size: 12pt;
    font-weight: bold;
}

td.bigCell {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border: none;
}


table.teamSchedule td {
    border-style: solid;
    border-width: 1pt;
    text-align: center;
    padding: 0;
    border-color: #777;
}

.major {
    font-size: 18pt;
    font-weight: bold;
    font-family: monospace;
    line-height: 1;
    margin-top: -1pt;
    margin-bottom: -5pt;
}
.minor {
    font-size: 12pt;
    font-style: italic;
    overflow: visible;
    /* max-height: 28pt; */
    line-height: 0.7;
    margin-top: 2pt;
    margin-bottom: 1pt;
}

table.teamSchedule {
    border-style: solid;
    border-width: 1pt;
    text-align: center;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.scheduleTitle {
    text-align: center;
    /* color: black; */
}

.smallTitle {
    line-height: 0pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
    font-size: 12pt;
}

.recipient {
    font-size: 22pt;
    line-height: 1;
    color: #777;
    margin-top: -3pt;
    margin-bottom: -1pt;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
}

.oneSchedule {
    max-width: 3.15in;/* (11 - 6*.25) / 3 */
    width: 3.15in;/* (11 - 6*.25) / 3 */
    height: 3.75in;/* (8.5 - 4*.25) / 2 */
    overflow: hidden;
    /* padding-left: 0.25in; */
    /* padding-right: 0.25in; */
    margin: 0.25in;
    margin-bottom: 0;
    /* margin-top: 0; */
}

td.col1 {
    width: 46pt;
}

/* Color management */
td.record_cell.color_blue {
    color: blue;
}

td.record_cell {
    border-color: black;
    vertical-align: middle;
    max-width: .8in;
    overflow-wrap: break-word;
    overflow: hidden;
    max-height: .5in;
}

td.record_cell.color_red {
    color: red;
}


/* Dynamic font size and spacing adjustment */

.rowcount5 .recipient {
    margin-top: 2pt;
    margin-bottom: 4pt;
}

.rowcount5 .header_row {
    height: 18pt;
}

.rowcount5 .major {
    margin-top: 0;
    margin-bottom: -3pt;
}

.rowcount5 .minor {
    line-height: .8;
    margin-bottom: 3pt;
    max-height: 21pt;
}

.rowcount6 .minor {
    line-height: 0.79;
    max-height: 24;
    margin-bottom: 2pt;
}

.rowcount6 .major {
    margin-bottom: -3pt;
}

.rowcount7 .minor {
    max-height: 22;
    line-height: .75;
    margin-bottom: 1.5pt;
}

.rowcount7 .major {
    font-size: 16.5pt;
}

.rowcount8 .major {
    font-size: 16pt;
    margin-top: -2pt;
    margin-bottom: -4pt;
}

.rowcount8 .minor {
    font-size: 10pt;
    max-height: 18.667;
}

.rowcount9 .major {
    font-size: 13pt;
    margin-bottom: -4.5pt;
}

.rowcount9 .minor {
    font-size: 10pt;
    max-height: 18.66667;
}

.rowcount9 tr.header_row {
    height: 13pt;
    font-size: 11pt;
}

.rowcount9 .recipient {
    font-size: 20pt;
}

/* Printing */
body {
    margin: 0;
    padding: 0;
}

div#instructions {
    margin: 8;
}

@media print {
    div.printPage {page-break-inside: avoid;}
}

@media print {
    @page {
        size: 11in 8.5in;
        margin: 0in;
    }
}

.printpage {
    max-height: 8in;
    max-width: 11.5in;
    width: 11in;
    height: 8.5in;
    /* padding: 0.25in 0.25in 0 0.25in; */
    overflow: hidden;
    margin-bottom: -.2in;
}