tr.header_row {
    line-height: 0;
    height: 20pt;
    font-size: 13pt;
    font-weight: bold;
}

td {
    border-style: solid;
    border-width: 1pt;
    text-align: center;
    padding: 0;
    /* border-collapse: collapse; */
}
.major {
    font-size: 18pt;
    font-weight: bold;
    font-family: monospace;
}
.minor {
    font-size: 12pt;
    font-style: italic;
    overflow: overlay;
    max-height: 28pt;
}

table.teamSchedule {
    border-spacing: 0;
    width: 100%;
}

.scheduleTitle {
    text-align: center;
    color: black;
}

.recipient {
    font-size: 22pt;
}

.oneSchedule {
    width: 3.1666666in; /* (11 - 6*.25) / 3 */
    height: 3.75in; /* (8.5 - 4*.25) / 2 */
}

/* Color management */
td.record_cell.color_blue {
    color: blue;
}

td.record_cell {
    border-color: black;
    vertical-align: top;
    max-width: .8in;
    overflow-wrap: break-word;
    overflow: hidden;
    max-height: .5in;
}

td.record_cell.color_red {
    color: red;
}

/* Printing */
@media print {
    div.oneSchedule {page-break-inside: avoid;}
}

@media print {
    @page {
        size: letter landscape;
        margin: 0.25in;
    }
}